= simple_form_for @advocacy_group, :url => advocacy_group_session_path do |advocacy_group|
  %h1 Sign in
  %fieldset
    = advocacy_group.input :email, :input_html => { :id => 'sign_in_email' }
    = advocacy_group.input :password, :input_html => { :id => 'sign_in_password' }
  = advocacy_group.submit 'Sign in'
