/* group clearfix */
/* line 3, ../../../app/stylesheets/ie.scss */
* html .group {
  height: 1%;
}

/* line 4, ../../../app/stylesheets/ie.scss */
.group {
  min-height: 1px;
}

/* payments#new */
/* line 9, ../../../app/stylesheets/ie.scss */
form h1.group,
fieldset {
  border-bottom: 1px solid #40939C;
}

/* line 14, ../../../app/stylesheets/ie.scss */
label,
div.select {
  display: inline;
  vertical-align: middle;
}

/* line 21, ../../../app/stylesheets/ie.scss */
div.text,
div.string,
div.password {
  float: none;
  clear: none;
}

/* line 28, ../../../app/stylesheets/ie.scss */
div.text input,
div.string input,
div.password input {
  vertical-align: middle;
}

/* line 32, ../../../app/stylesheets/ie.scss */
.fields {
  float: left;
  width: 536px;
}

/* line 37, ../../../app/stylesheets/ie.scss */
.payment_type li {
  padding: 0;
  display: inline;
}

/* line 42, ../../../app/stylesheets/ie.scss */
.payment_type li ul.cards {
  width: 200px;
  display: inline;
}

/* line 47, ../../../app/stylesheets/ie.scss */
.payment_type li ul.cards li.card {
  display: inline;
}

/* menus */
/* line 53, ../../../app/stylesheets/ie.scss */
#menus {
  background: #002f38;
}

/* line 57, ../../../app/stylesheets/ie.scss */
#menus .session form {
  position: relative;
}
