/* group clearfix */
/* line 3, ../../../app/stylesheets/ie.scss */
* html .group {
  height: 1%;
}

/* line 4, ../../../app/stylesheets/ie.scss */
.group {
  min-height: 1px;
}

/* menus */
/* line 8, ../../../app/stylesheets/ie.scss */
#menus {
  background: #002f38;
}

/* line 12, ../../../app/stylesheets/ie.scss */
#menus .session form {
  position: relative;
}

/* letters#new */
/* line 19, ../../../app/stylesheets/ie.scss */
#new_letter .legislators li,
#new_letter .legislators li label {
  margin: 0 .75em !important;
  display: inline !important;
  vertical-align: middle !important;
}

/* line 25, ../../../app/stylesheets/ie.scss */
#new_letter .legislators li div {
  margin: 0 !important;
}

/* line 29, ../../../app/stylesheets/ie.scss */
#new_letter .legislators li.federal div {
  width: 200px !important;
}

/* line 34, ../../../app/stylesheets/ie.scss */
#new_letter div.string,
#new_letter #letter_preview {
  display: inline;
}

/* payments#new */
/* line 41, ../../../app/stylesheets/ie.scss */
form h1.group,
fieldset {
  border-bottom: 1px solid #40939C;
}

/* line 46, ../../../app/stylesheets/ie.scss */
label,
div.select {
  display: inline;
  vertical-align: middle;
}

/* line 53, ../../../app/stylesheets/ie.scss */
div.text,
div.string,
div.password {
  float: none;
  clear: none;
}

/* line 60, ../../../app/stylesheets/ie.scss */
div.text input,
div.string input,
div.password input {
  vertical-align: middle;
}

/* line 64, ../../../app/stylesheets/ie.scss */
.fields {
  float: left;
  width: 536px;
}

/* line 69, ../../../app/stylesheets/ie.scss */
.payment_type li {
  padding: 0;
  display: inline;
}

/* line 74, ../../../app/stylesheets/ie.scss */
.payment_type li .cards {
  width: 200px;
  margin: 10px 0;
  display: inline;
}
/* line 79, ../../../app/stylesheets/ie.scss */
.payment_type li .cards .paypal {
  background-image: url("../../images/icons/paypal.png");
  margin-left: 0px;
}
/* line 84, ../../../app/stylesheets/ie.scss */
.payment_type li .cards label {
  width: 200px;
}
/* line 88, ../../../app/stylesheets/ie.scss */
.payment_type li .cards .card {
  float: none;
  clear: none;
  display: inline;
}

/* line 95, ../../../app/stylesheets/ie.scss */
.payment_type li.paypal .cards {
  margin-right: 50px;
  margin-left: 0px;
}
/* line 98, ../../../app/stylesheets/ie.scss */
.payment_type li.paypal .cards label {
  width: 200px;
}
