/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 9, ../../../app/stylesheets/partials/_page.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 68, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 70, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 71, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 72, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 73, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 74, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 75, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 76, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 77, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 80, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:visited {
  color: #000066;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:focus {
  color: black;
}
/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:hover {
  color: black;
}
/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:active {
  color: #cc0099;
}
/* line 81, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 82, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong {
  font-weight: bold;
}
/* line 83, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em {
  font-style: italic;
}
/* line 84, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 85, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 86, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 87, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 88, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 89, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 90, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 91, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 92, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 93, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 94, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 95, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 96, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 97, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 98, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 99, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 100, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 102, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 104, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 105, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 106, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background: url('/images/grid.png?1289588412');
}
/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a {
  color: #8a1f11;
}
/* line 6, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 10, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 14, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 42, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 45, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 48, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 50, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 52, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 54, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 59, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
/* line 48, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 50, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 25, ../../../app/stylesheets/partials/_two_col.scss */
body.two-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 27, ../../../app/stylesheets/partials/_two_col.scss */
body.two-col #header, body.two-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 139, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #header, * html body.two-col #footer {
  overflow-x: hidden;
}
/* line 29, ../../../app/stylesheets/partials/_two_col.scss */
body.two-col #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 139, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #sidebar {
  overflow-x: hidden;
}
/* line 33, ../../../app/stylesheets/partials/_two_col.scss */
body.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 139, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content {
  overflow-x: hidden;
}

/* line 14, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* -----------------------------------------------------------------------------
    Varibles
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
    Mixins
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
    Base
----------------------------------------------------------------------------- */
@font-face {
  font-family: 'AdelleBasicBold';
  src: url("/fonts/adellebasic_bold-webfont.eot");
  src: local("☺"), url("/fonts/adellebasic_bold-webfont.woff") format("woff"), url("/fonts/adellebasic_bold-webfont.ttf") format("truetype"), url("/fonts/adellebasic_bold-webfont.svg#webfontqqI6w5ED") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 103, ../../../app/stylesheets/screen.scss */
body, html {
  color: #F9F9F9;
  background: #003f4b url(/images/html.gif);
}

/* line 109, ../../../app/stylesheets/screen.scss */
body {
  font-family: Arial, sans-serif;
}

/* line 113, ../../../app/stylesheets/screen.scss */
p {
  margin: 0 0 20px 0;
}

/* line 117, ../../../app/stylesheets/screen.scss */
a {
  color: #6FF;
  text-decoration: none;
}

/* line 122, ../../../app/stylesheets/screen.scss */
a:hover {
  text-decoration: underline;
}

/* -----------------------------------------------------------------------------
    Layout
----------------------------------------------------------------------------- */
/* line 130, ../../../app/stylesheets/screen.scss */
.article {
  float: left;
  width: 547px;
  line-height: 1.4;
  margin: 0 40px 40px 0;
}

/* line 137, ../../../app/stylesheets/screen.scss */
.more {
  clear: both;
  margin: 40px 0;
  font-size: 14px;
  text-align: center;
}
/* line 142, ../../../app/stylesheets/screen.scss */
.more a {
  padding: 10px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.25);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 148, ../../../app/stylesheets/screen.scss */
.more a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
}

/* line 154, ../../../app/stylesheets/screen.scss */
.aside {
  float: left;
  width: 363px;
  line-height: 1.4;
  margin: 0 0 40px 0;
}
/* line 159, ../../../app/stylesheets/screen.scss */
.aside ul.actions {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
/* line 163, ../../../app/stylesheets/screen.scss */
.aside ul.actions li {
  margin: 0 0 10px 0;
}
/* line 165, ../../../app/stylesheets/screen.scss */
.aside ul.actions li a {
  display: block;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.25);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 171, ../../../app/stylesheets/screen.scss */
.aside ul.actions li a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
}

/* line 179, ../../../app/stylesheets/screen.scss */
#chart {
  clear: both;
}

/* line 183, ../../../app/stylesheets/screen.scss */
h1 {
  width: auto;
  font-size: 24px;
  overflow: hidden;
  padding: 0 0 20px 0;
  font-family: Arial, sans-serif;
}
/* line 189, ../../../app/stylesheets/screen.scss */
h1 span {
  float: right;
  font-size: 18px;
  line-height: 1.333;
}
/* line 194, ../../../app/stylesheets/screen.scss */
h1 strong {
  float: left;
}
/* line 197, ../../../app/stylesheets/screen.scss */
h1 label {
  color: #F9F9F9;
}

/* line 202, ../../../app/stylesheets/screen.scss */
h1.tag {
  margin: 0 0 40px 0;
  text-align: center;
  font-family: "AdelleBasicBold", Georgia, 'Times New Roman', Times, serif;
}

/* line 210, ../../../app/stylesheets/screen.scss */
#header,
#content,
#footer {
  width: 950px;
  margin: 0 auto;
}

/* line 215, ../../../app/stylesheets/screen.scss */
#header a.logo {
  width: 256px;
  height: 40px;
  display: block;
  margin: 40px auto;
  text-indent: -9999px;
  text-decoration: none;
  background: url(/images/logo.png) 0 0 no-repeat;
}

/* line 225, ../../../app/stylesheets/screen.scss */
.flash {
  padding: 0 14px;
  font-size: 14px;
  overflow: hidden;
  line-height: 44px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}

/* line 234, ../../../app/stylesheets/screen.scss */
#menus {
  height: 44px;
  padding: 0 14px;
  font-size: 14px;
  overflow: hidden;
  line-height: 44px;
  background: rgba(0, 0, 0, 0.25);
}
/* line 241, ../../../app/stylesheets/screen.scss */
#menus .actions {
  float: left;
}
/* line 244, ../../../app/stylesheets/screen.scss */
#menus .session {
  float: right;
}
/* line 246, ../../../app/stylesheets/screen.scss */
#menus .session form {
  margin: 0;
  padding: 0;
  width: auto;
  float: right;
  height: 22px;
  display: none;
  background: none;
}
/* line 254, ../../../app/stylesheets/screen.scss */
#menus .session form input[type="submit"] {
  margin: 0;
  font-size: 12px;
}

/* line 262, ../../../app/stylesheets/screen.scss */
#footer {
  clear: both;
  color: #699;
  font-size: 14px;
  text-align: center;
  margin-bottom: 40px;
}
/* line 268, ../../../app/stylesheets/screen.scss */
#footer .legal {
  margin-top: 5px;
}
/* line 272, ../../../app/stylesheets/screen.scss */
#footer .info :first-child {
  font-family: "AdelleBasicBold", Georgia, 'Times New Roman', Times, serif;
}

/* line 278, ../../../app/stylesheets/screen.scss */
.dashboard {
  width: 910px;
  padding: 20px;
  color: #F9F9F9;
  background: #006F7B;
  margin: 0 auto 40px auto;
  font-family: Arial, sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
}

/* line 282, ../../../app/stylesheets/screen.scss */
.campaigns {
  padding: 20px;
  text-align: center;
  background: #1A404B;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  text-align: left;
  overflow: hidden;
  padding-bottom: 0;
}
/* line 287, ../../../app/stylesheets/screen.scss */
.campaigns li:nth-child(3n-2) {
  clear: left;
}
/* line 290, ../../../app/stylesheets/screen.scss */
.campaigns li:nth-child(3n) {
  margin: 0;
}
/* line 293, ../../../app/stylesheets/screen.scss */
.campaigns li {
  float: left;
  width: 256px;
  margin-bottom: 20px;
  color: #ABB;
  padding: 10px;
  margin-right: 20px;
  text-align: center;
  background: #3A606B;
  vertical-align: top;
  display: inline-block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 0;
  text-align: left;
}
/* line 299, ../../../app/stylesheets/screen.scss */
.campaigns li h2 {
  font-size: 18px;
  margin: 0 0 10px 0;
  font-family: "AdelleBasicBold", Georgia, 'Times New Roman', Times, serif;
}

/* line 307, ../../../app/stylesheets/screen.scss */
div.campaign {
  line-height: 1.4;
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
/* line 308, ../../../app/stylesheets/screen.scss */
div.campaign div.body {
  width: 720px;
  margin: 0 auto;
}
/* line 311, ../../../app/stylesheets/screen.scss */
div.campaign div.body p {
  text-indent: 1em;
}

/* line 321, ../../../app/stylesheets/screen.scss */
ul.numbers {
  margin-top: 15px;
}
/* line 323, ../../../app/stylesheets/screen.scss */
ul.numbers li {
  list-style: decimal;
  margin-bottom: 10px;
  line-height: 1.25em;
}

/* line 330, ../../../app/stylesheets/screen.scss */
ul.payment_type {
  margin: 0 0 0 114px;
}
/* line 332, ../../../app/stylesheets/screen.scss */
ul.payment_type li {
  display: inline-block;
}

/* line 337, ../../../app/stylesheets/screen.scss */
.cards {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
}
/* line 341, ../../../app/stylesheets/screen.scss */
.cards .card {
  width: 32px;
  height: 22px;
  margin: 0 5px 0 0;
  display: inline-block;
  background-position: 0 -4px;
  background-repeat: no-repeat;
}
/* line 349, ../../../app/stylesheets/screen.scss */
.cards .visa {
  background-image: url("../../images/icons/visa.png");
}
/* line 352, ../../../app/stylesheets/screen.scss */
.cards .master {
  background-image: url("../../images/icons/master.png");
}
/* line 355, ../../../app/stylesheets/screen.scss */
.cards .american_express {
  background-image: url("../../images/icons/american_express.png");
}
/* line 358, ../../../app/stylesheets/screen.scss */
.cards .discover {
  background-image: url("../../images/icons/discover.png");
}
/* line 361, ../../../app/stylesheets/screen.scss */
.cards .diners_club {
  background-image: url("../../images/icons/diners_club.png");
}
/* line 365, ../../../app/stylesheets/screen.scss */
.cards .disabled {
  opacity: 0.3;
}

/* line 370, ../../../app/stylesheets/screen.scss */
.home {
  overflow: hidden;
  line-height: 1.4;
  margin: 0 0 40px 0;
}
/* line 374, ../../../app/stylesheets/screen.scss */
.home .text {
  clear: none;
  float: right;
  width: 455px;
}
/* line 379, ../../../app/stylesheets/screen.scss */
.home .video {
  float: left;
  width: 455px;
  height: 300px;
}

/* line 386, ../../../app/stylesheets/screen.scss */
.legalese {
  padding: 0 0 40px 0;
}

/* line 390, ../../../app/stylesheets/screen.scss */
.thank_you {
  text-align: center;
  padding: 0 0 40px 0;
}
/* line 393, ../../../app/stylesheets/screen.scss */
.thank_you h1 {
  margin: 0 0 20px 0;
  font-family: "AdelleBasicBold", Georgia, 'Times New Roman', Times, serif;
}

/* line 399, ../../../app/stylesheets/screen.scss */
.recipients {
  width: 910px;
  padding: 20px;
  color: #F9F9F9;
  background: #006F7B;
  margin: 0 auto 40px auto;
  font-family: Arial, sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
  text-align: center;
}
/* line 402, ../../../app/stylesheets/screen.scss */
.recipients h2 {
  color: #6E9;
  font-size: 24px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 20px auto 0 auto;
  text-transform: uppercase;
  font-family: "AdelleBasicBold", Arial, sans-serif;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  background-color: #233;
  background-image: -moz-linear-gradient(top, #223333, #112222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #223333), color-stop(1, #112222));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#223333', EndColorStr='#112222');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#223333', EndColorStr='#112222')";
  font-size: 18px;
}
/* line 406, ../../../app/stylesheets/screen.scss */
.recipients ul {
  padding: 20px;
  text-align: center;
  background: #1A404B;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
}
/* line 408, ../../../app/stylesheets/screen.scss */
.recipients ul li {
  color: #ABB;
  padding: 10px;
  margin-right: 20px;
  text-align: center;
  background: #3A606B;
  vertical-align: top;
  display: inline-block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 0;
  color: #FFF;
}
/* line 411, ../../../app/stylesheets/screen.scss */
.recipients ul li div {
  width: 100px;
  height: 125px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
}
/* line 414, ../../../app/stylesheets/screen.scss */
.recipients ul li span {
  display: block;
}
/* line 417, ../../../app/stylesheets/screen.scss */
.recipients ul li .name {
  margin: 10px 0;
}
/* line 420, ../../../app/stylesheets/screen.scss */
.recipients ul li .phone {
  font-size: 2em;
  font-family: "AdelleBasicBold", Georgia, 'Times New Roman', Times, serif;
}

/* -----------------------------------------------------------------------------
    Forms
----------------------------------------------------------------------------- */
/* line 432, ../../../app/stylesheets/screen.scss */
.help {
  color: #9CC;
  display: inline;
  font-size: 14px;
  line-height: 1.4;
}

/* line 439, ../../../app/stylesheets/screen.scss */
fieldset {
  padding: 20px 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
/* line 442, ../../../app/stylesheets/screen.scss */
fieldset .help {
  float: right;
  width: 324px;
  margin: 0 0 10px 0;
}

/* line 451, ../../../app/stylesheets/screen.scss */
div.text,
div.string,
div.password {
  float: left;
  clear: left;
  margin: 0 0 10px 0;
}
/* line 455, ../../../app/stylesheets/screen.scss */
div.text input,
div.string input,
div.password input {
  width: 400px;
  padding: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* line 463, ../../../app/stylesheets/screen.scss */
input[type="submit"] {
  font-size: 20px;
  margin: 20px 0 0 120px;
}

/* line 468, ../../../app/stylesheets/screen.scss */
textarea {
  padding: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* line 474, ../../../app/stylesheets/screen.scss */
input.placeholder, textarea.placeholder {
  color: #AAAAAA !important;
}

/* line 478, ../../../app/stylesheets/screen.scss */
input::-webkit-input-placeholder {
  color: #AAAAAA !important;
}

/* line 481, ../../../app/stylesheets/screen.scss */
input:-moz-placeholder {
  color: #AAAAAA !important;
}

/* line 485, ../../../app/stylesheets/screen.scss */
label {
  width: 110px;
  text-align: right;
  margin: 0 10px 0 0;
  display: inline-block;
  vertical-align: middle;
}

/* line 493, ../../../app/stylesheets/screen.scss */
label.radio {
  display: inline;
  text-align: left;
}

/* line 499, ../../../app/stylesheets/screen.scss */
.text textarea {
  width: 400px;
  padding: 5px;
  height: 200px;
  vertical-align: middle;
}
/* line 505, ../../../app/stylesheets/screen.scss */
.text label {
  margin: 10px 10px 0 0;
  vertical-align: top;
}

/* line 511, ../../../app/stylesheets/screen.scss */
div.select {
  display: inline-block;
  vertical-align: middle;
}
/* line 514, ../../../app/stylesheets/screen.scss */
div.select label {
  width: auto;
}
/* line 517, ../../../app/stylesheets/screen.scss */
div.select select {
  margin: 0 10px 0 0;
}

/* line 522, ../../../app/stylesheets/screen.scss */
#address_search {
  text-align: center;
}
/* line 524, ../../../app/stylesheets/screen.scss */
#address_search label {
  margin: 0;
  width: auto;
  display: block;
  text-align: center;
}
/* line 530, ../../../app/stylesheets/screen.scss */
#address_search div.string {
  float: none;
}
/* line 532, ../../../app/stylesheets/screen.scss */
#address_search div.string input#address {
  width: 90%;
  color: #233;
  padding: 10px;
  display: block;
  font-size: 36px;
  margin: 20px auto;
  border: 1px solid #FFF;
  font-family: "AdelleBasicBold", Georgia, 'Times New Roman', Times, serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 544, ../../../app/stylesheets/screen.scss */
#address_search input[type="submit"] {
  margin: 0;
}
/* line 547, ../../../app/stylesheets/screen.scss */
#address_search .field_with_errors {
  background: none;
}
/* line 550, ../../../app/stylesheets/screen.scss */
#address_search .error {
  color: #FEE;
  background: #B21;
  padding: 10px;
  margin: 0 0 10px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

/* line 559, ../../../app/stylesheets/screen.scss */
#new_letter {
  padding: 0;
  width: auto;
  background: none;
  margin: 0 auto 40px auto;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
/* line 566, ../../../app/stylesheets/screen.scss */
#new_letter .error {
  color: #FEE;
  padding: 10px;
  background: #B21;
  margin: 20px 0 0 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  display: block;
}
/* line 575, ../../../app/stylesheets/screen.scss */
#new_letter ul.legislators .bioguide {
  width: 100px;
  height: 125px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
}
/* line 577, ../../../app/stylesheets/screen.scss */
#new_letter ul.legislators .bioguide img.mail {
  right: 5px;
  bottom: 2px;
  width: 16px;
  height: 16px;
  display: none;
  position: absolute;
}
/* line 585, ../../../app/stylesheets/screen.scss */
#new_letter ul.legislators .bioguide img.selected {
  display: inline;
}
/* line 589, ../../../app/stylesheets/screen.scss */
#new_letter ul.legislators .monochrome {
  background-position: -100px 0px;
}
/* line 592, ../../../app/stylesheets/screen.scss */
#new_letter ul.legislators .color {
  background-position: 0px 0px;
}
/* line 595, ../../../app/stylesheets/screen.scss */
#new_letter ul.legislators .bioguide:hover {
  cursor: pointer;
}
/* line 598, ../../../app/stylesheets/screen.scss */
#new_letter ul.legislators img.monochrome {
  margin-left: -100px;
}
/* line 601, ../../../app/stylesheets/screen.scss */
#new_letter ul.legislators label:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
/* line 607, ../../../app/stylesheets/screen.scss */
#new_letter h1 {
  padding: 0;
  border: none;
}
/* line 611, ../../../app/stylesheets/screen.scss */
#new_letter fieldset.legislator {
  text-align: center;
}
/* line 614, ../../../app/stylesheets/screen.scss */
#new_letter fieldset {
  border: none;
  width: 910px;
  padding: 20px;
  color: #F9F9F9;
  background: #006F7B;
  margin: 0 auto 40px auto;
  font-family: Arial, sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
  margin: 20px auto;
}
/* line 618, ../../../app/stylesheets/screen.scss */
#new_letter fieldset label {
  width: auto;
  display: block;
  text-align: left;
  margin: 0 0 10px 0;
}
/* line 624, ../../../app/stylesheets/screen.scss */
#new_letter fieldset .legislators {
  padding: 20px;
  text-align: center;
  background: #1A404B;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
}
/* line 626, ../../../app/stylesheets/screen.scss */
#new_letter fieldset .legislators li {
  color: #ABB;
  padding: 10px;
  margin-right: 20px;
  text-align: center;
  background: #3A606B;
  vertical-align: top;
  display: inline-block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 0;
}
/* line 628, ../../../app/stylesheets/screen.scss */
#new_letter fieldset .legislators li label {
  margin: 10px 0 0 0;
}
/* line 632, ../../../app/stylesheets/screen.scss */
#new_letter fieldset .legislators li:last-child {
  margin: 0px;
}
/* line 635, ../../../app/stylesheets/screen.scss */
#new_letter fieldset .legislators li:hover {
  cursor: pointer;
  background: #178;
}
/* line 638, ../../../app/stylesheets/screen.scss */
#new_letter fieldset .legislators li:hover label {
  color: #FFF;
  text-decoration: none;
}
/* line 643, ../../../app/stylesheets/screen.scss */
#new_letter fieldset .legislators li.active {
  background: #009CAE;
}
/* line 645, ../../../app/stylesheets/screen.scss */
#new_letter fieldset .legislators li.active label {
  color: #FFF;
}
/* line 651, ../../../app/stylesheets/screen.scss */
#new_letter .cost {
  color: #6E9;
  font-size: 24px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 20px auto 0 auto;
  text-transform: uppercase;
  font-family: "AdelleBasicBold", Arial, sans-serif;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
  background-color: #233;
  background-image: -moz-linear-gradient(top, #223333, #112222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #223333), color-stop(1, #112222));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#223333', EndColorStr='#112222');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#223333', EndColorStr='#112222')";
}
/* line 654, ../../../app/stylesheets/screen.scss */
#new_letter div.text {
  float: none;
  clear: none;
  margin: 0 0 20px 0;
}
/* line 659, ../../../app/stylesheets/screen.scss */
#new_letter #letter_body {
  width: 99%;
  height: 300px;
  display: block;
}
/* line 666, ../../../app/stylesheets/screen.scss */
#new_letter .text.field_with_errors,
#new_letter .string.field_with_errors,
#new_letter .password.field_with_errors {
  padding: 10px;
}
/* line 669, ../../../app/stylesheets/screen.scss */
#new_letter .error {
  margin: 0;
}
/* line 672, ../../../app/stylesheets/screen.scss */
#new_letter div.string, #new_letter div.password {
  margin: 10px 10px 0 0;
  display: inline-block;
  vertical-align: top;
  float: none;
  clear: none;
}
/* line 678, ../../../app/stylesheets/screen.scss */
#new_letter div.string input, #new_letter div.password input {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
/* line 685, ../../../app/stylesheets/screen.scss */
#new_letter #letter_submit {
  margin: 20px 0 0 0;
}
/* line 688, ../../../app/stylesheets/screen.scss */
#new_letter #letter_preview {
  margin: 0 0 0 10px;
  display: inline-block;
}

/* line 695, ../../../app/stylesheets/screen.scss */
form.campaign label.collection_radio {
  width: auto;
  margin-left: 5px;
}
/* line 700, ../../../app/stylesheets/screen.scss */
form.campaign #campaign_type_both {
  margin-left: 120px;
}

/* line 705, ../../../app/stylesheets/screen.scss */
form {
  width: 910px;
  padding: 20px;
  color: #F9F9F9;
  background: #006F7B;
  margin: 0 auto 40px auto;
  font-family: Arial, sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
}
/* line 707, ../../../app/stylesheets/screen.scss */
form h1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
/* line 709, ../../../app/stylesheets/screen.scss */
form h1 span {
  color: #9CC;
  width: 324px;
}
/* line 714, ../../../app/stylesheets/screen.scss */
form input#payment_credit_card_verification_value {
  width: 100px;
}
/* line 719, ../../../app/stylesheets/screen.scss */
form .text.field_with_errors,
form .string.field_with_errors,
form .password.field_with_errors {
  padding-left: 0px;
}
/* line 722, ../../../app/stylesheets/screen.scss */
form div.expiration {
  float: left;
  clear: left;
  margin: 5px 10px 15px 0;
}
/* line 726, ../../../app/stylesheets/screen.scss */
form div.expiration span {
  display: inline-block;
  width: 110px;
  text-align: right;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
/* line 733, ../../../app/stylesheets/screen.scss */
form div.expiration label {
  vertical-align: middle;
}
/* line 736, ../../../app/stylesheets/screen.scss */
form div.expiration .error {
  margin: 0;
}
/* line 741, ../../../app/stylesheets/screen.scss */
form img {
  vertical-align: middle;
}
/* line 744, ../../../app/stylesheets/screen.scss */
form .error {
  padding: 5px 0 0 0;
  margin: 0 0 0 120px;
}

/* line 750, ../../../app/stylesheets/screen.scss */
.field_with_errors {
  color: #FEE;
  padding: 10px;
  background: #B21;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

/* line 757, ../../../app/stylesheets/screen.scss */
.error {
  font-weight: bold;
  padding: 10px 0 0 5px;
}
