%div.thank_you
  %h1 Thank you for Mailing Congress.    

%div.recipients
  %ul      
    - @letter.recipients.each do |recipient|
      %li
        %div{:style => "background-image:url('/images/#{recipient.legislator.bioguide_image}')"}
        %span.name= recipient.legislator.name
        %span.phone= recipient.legislator.phone
  %h2 We encourage you to call your legislators as a follow-up to your letter.