.info
  = link_to 'MailCongress.org', root_url
  Built by 
  %a{ :href => "mailto:brian@mailcongress.org"} Brian Cardarella 
  Designed by 
  %a{ :href => "http://www.cssboy.com/"} Angelo Simeoni
  – &copy; 2010
.legal
  = link_to 'Feedback', new_feedback_url
  ●
  = link_to 'Terms of Service', terms_url
  ●
  = link_to 'Privacy Policy', privacy_url
