.info
  %a{ :href => "/" } MailCongress.org
  Built by 
  %a{ :href => "mailto:brian@mailcongress.org"} Brian Cardarella 
  Designed by 
  %a{ :href => "http://www.cssboy.com/"} Angelo Simeoni
  – &copy; 2010
.legal
  %a{ :href => '/terms' } Terms of Service
  ●
  %a{ :href => '/privacy' } Privacy Policy
