#menus.group
  - if advocacy_group_signed_in?
    = render :partial => 'shared/signed_in_menu'
  - else
    = render :partial => 'shared/signed_out_menu'

#header
  %a{:href => "/", :class => "logo"}
    MailCongress
