/* group clearfix */

* html .group { height: 1%; }
.group { min-height: 1px; }

/* menus */

#menus {
  background: #002f38;
}

#menus .session form {
  position: relative;
}

/* letters#new */

#new_letter .legislators li,
#new_letter .legislators li label {
  margin: 0 .75em !important;
  display: inline !important;
  vertical-align: middle !important;
}

#new_letter .legislators li div {
  margin: 0 !important;
}

#new_letter .legislators li.federal div {
  width: 200px !important;
}

#new_letter div.string,
#new_letter #letter_preview {
  display: inline;
}

/* payments#new */

form h1.group,
fieldset {
  border-bottom: 1px solid #40939C;
}

label,
div.select {
  display: inline;
  vertical-align: middle;
}

div.text, 
div.string, 
div.password {
  float: none;
  clear: none;
}

div.text input,
div.string input, 
div.password input {
  vertical-align: middle;
}

.fields {
  float: left;
  width: 536px;
}

.payment_type li {
  padding: 0;
  display: inline;
}

.payment_type li .cards {
  width: 200px;
  margin: 10px 0;
  display: inline;

  .paypal {
    background-image: url('../../images/icons/paypal.png');
    margin-left: -0px;
  }

  label {
    width: 200px;
  }

  .card {
    float: none;
    clear: none;
    display: inline;
  }
}

.payment_type li.paypal .cards {
  margin-right: 50px;
  margin-left: 0px;
  label {
    width: 200px;
  }
}
