/* group clearfix */

* html .group { height: 1%; }
.group { min-height: 1px; }

/* menus */

#menus {
  background: #002f38;
}

#menus .session form {
  position: relative;
}

/* letters#new */

.legislators li,
.legislators li label {
  width: auto !important;
  display: inline !important;
}

.legislators li div {
  width: 100px !important;
}

/* payments#new */

form h1.group,
fieldset {
  border-bottom: 1px solid #40939C;
}

label,
div.select {
  display: inline;
  vertical-align: middle;
}

div.text, 
div.string, 
div.password {
  float: none;
  clear: none;
}

div.text input,
div.string input, 
div.password input {
  vertical-align: middle;
}

.fields {
  float: left;
  width: 536px;
}

.payment_type li {
  padding: 0;
  display: inline;
}

.payment_type li .cards {
  width: 200px;
  margin: 10px 0;
  display: inline;
}

.payment_type li .cards label {
  width: 200px;
}

.payment_type li .cards .card {
  float: none;
  clear: none;
  display: inline;
}
