// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";

$blueprint_grid_columns: 8;
$blueprint_grid_width: 40px;

@import "compass/reset";
@import "compass/utilities";

.container {
  @include container;
  
  #header, #footer {
    @include column(8);
  }

  #content {
    @include column(8);
  }
}

ul.legislators {
  width: 500px;
  @include horizontal-list;
  li {
    @include horizontal-list-item;
  }
  li:hover {
    background: #F00;
  }
  .bioguide {
    position: relative;
    width: 100px;
    height: 125px;
    overflow: hidden;
    background-repeat: no-repeat;
    img.mail {
      position: absolute;
      height: 16px;
      width: 16px;
      right: 5px;
      bottom: 2px;
      display: none;
    }
    img.selected {
      display: inline;
    }
  }
  .monochrome {
    background-position: 100px 0px !important;
  }
  .color {
    background-position: 0px 0px !important;
  }
  .bioguide:hover {
    cursor: pointer;
  }
  img.monochrome {
    margin-left: -100px;
  }
  label:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
  }
}

#letter_body {
  width: 600px;
  height: 300px;
}

body, html {
  color: #F9F9F9;
  background: #356;
}

h1 {
  width: auto;
  font-size: 24px;
  font-family: Arial, sans-serif;
  margin: 0 0 20px 0;
  label {
    color: #F9F9F9 !important;
  }
}

#address_search {
  width:910px;
  color: #F9F9F9;
  background: #134;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  -moz-border-radius: 5px;
  #address {
    width: 80%;
    display: block;
    padding: 10px;
    border: 1px solid #FFF;
    margin: 20px auto;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -moz-border-radius: 5px;
  }
}

#new_letter {
  margin: 40px auto;
  fieldset {
    width:910px;
    color: #F9F9F9;
    background: #134;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    -moz-border-radius: 5px;
    label {
      margin: 6px 0;
      display: block;
      color: rgba(155,255,255,.5)
    }
    .legislators {
      width: auto;
      padding: 20px;
      background: rgba(0,0,0,.25);
      li {
        padding: 10px;
        margin: 0 20px 0 0;
        background: #245;
        -moz-border-radius: 5px;
        .bioguide {
          margin: 0 auto 20px auto;
        }
      }
      li:hover {
        label {
          color: #FFF;
          text-decoration: none;
        }
        cursor: pointer;
        background: #467;
      }
    }
  }
  .cost {
    color: #9F6;
    margin: 20px 0 0 0;
    text-align: center;
    font-weight: bold;
  }
  .text textarea {
    width: 890px;
    padding: 5px;
    margin: 0 0 20px 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  div.string {
    margin: 0 10px 0 0;
    display: inline-block;
    input {
      width: 200px;
      padding: 5px;
      font-size: 16px;
      font-family: Arial, sans-serif;
    }
  }
  #letter_submit {
    margin: 20px 0 0 0;
  }
  #letter_preview {
    margin: 0 0 0 10px;
    display: inline-block;
    a {
      color: #0FF;
      font-weight: bold;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
