// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";

$blueprint_grid_columns: 8;
$blueprint_grid_width: 40px;

@import "compass/reset";
@import "compass/utilities";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

/* -----------------------------------------------------------------------------
    Varibles
----------------------------------------------------------------------------- */

$form_sidebar: 324px;

/* -----------------------------------------------------------------------------
    Mixins
----------------------------------------------------------------------------- */

@mixin group {
  width: 910px;
  padding: 20px;
  color: #F9F9F9;
  background: #006F7B;
  margin: 0 auto 40px auto;
  font-family: Arial, sans-serif;
  @include border-radius(5px);
  @include box-shadow(rgba(0,0,0,.1), 0, 0, 20px);
}

@mixin well {
  padding: 20px;
  text-align: center;
  background: #1A404B;
  @include border-radius(5px);
  @include box-shadow(rgba(0,0,0,.25), 0, 0, 10px, inset);
}

@mixin item {
  color: #ABB;
  padding: 10px;
  margin-right: 20px;
  text-align: center;
  background: #3A606B;
  vertical-align: top;
  display: inline-block;
  @include border-radius(5px);
  @include box-shadow(rgba(0,0,0,.25), 0, 0, 10px);
}

@mixin federal_photo {
  width: 200px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
}

@mixin message {
  color: #6E9;
  font-size: 24px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 20px auto 0 auto;
  text-transform: uppercase;
  font-family: "AdelleBasicBold", Arial, sans-serif;
  @include border-radius(25px);
  @include box-shadow(rgba(0,0,0,.25), 0, 0, 10px, inset);
  background-color: #233;
  background-image: -moz-linear-gradient(top, #223333, #112222); 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #223333),color-stop(1, #112222)); 
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#223333', EndColorStr='#112222'); 
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#223333', EndColorStr='#112222')"; 
}

/* -----------------------------------------------------------------------------
    Base
----------------------------------------------------------------------------- */

@font-face {
  font-family: 'AdelleBasicBold';
  src: url('/fonts/adellebasic_bold.eot');
  src: local('☺'), url('/fonts/adellebasic_bold.woff') format('woff'), url('/fonts/adellebasic_bold.ttf') format('truetype'), url('/fonts/adellebasic_bold.svg#webfontqqI6w5ED') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, html {
  color: #F9F9F9;
  background: #003F4B url(/images/html.gif);
}


body {
  font-family: Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  color: #6FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* -----------------------------------------------------------------------------
    Layout
----------------------------------------------------------------------------- */

.article {
  float: left;
  width: 547px;
  line-height: 1.4;
  margin: 0 40px 40px 0;
}
  
.more {
  clear: both;
  margin: 40px 0;
  font-size: 14px;
  text-align: center;
  a {
    padding: 10px;
    display: inline-block;
    background: rgba(0,0,0,.25);
    @include border-radius(5px);
  }
  a:hover {
    text-decoration: none;
    background: rgba(0,0,0,.5);
  }
}

.aside {
  float: left;
  width: 363px;
  line-height: 1.4;
  margin: 0 0 40px 0;
  ul.actions {
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,.25);
    li {
      margin: 0 0 10px 0;
      a {
        display: block;
        padding: 5px 10px;
        background: rgba(0,0,0,.25);
        @include border-radius(5px);
      }
      a:hover {
        text-decoration: none;
        background: rgba(0,0,0,.5);
      }
    }
  }
}

#chart {
  clear: both;
}

h1 {
  width: auto;
  font-size: 24px;
  overflow: hidden;
  padding: 0 0 20px 0;
  font-family: Arial, sans-serif;
  span {
    float: right;
    font-size: 18px;
    line-height: 1.333;
  }
  strong {
    float: left;
  }
  label {
    color: #F9F9F9;
  }
}

h1.tag {
  margin: 0 0 40px 0;
  text-align: center;
  font-family: "AdelleBasicBold", Georgia, 'Times New Roman', Times, serif;
}

#header,
#content,
#footer {
  width: 950px;
  margin: 0 auto;
}

#header a.logo {
  width: 256px;
  height: 40px;
  display: block;
  margin: 40px auto;
  text-indent: -9999px;
  text-decoration: none;
  background: url(/images/logo.png) 0 0 no-repeat;
}

#flash {
  top: 0;
  width: 100%;  
  position: absolute;
  text-align: center;
}

.flash {
  padding: 0 14px;
  font-size: 14px;
  overflow: hidden;
  line-height: 44px;
  text-align: center;
  display: inline-block;
  background: rgba(0,0,0,.4);
}

#menus {
  height: 44px;
  padding: 0 14px;
  font-size: 14px;
  overflow: hidden;
  line-height: 44px;
  background: rgba(0,0,0,.25);
  .actions {
    float: left;
  }
  .session {
    float: right;
    form {
      margin: 0;
      padding: 0;
      width: auto;
      float: right;
      height: 22px;
      display: none;
      background: none;
      input[type="submit"] {
        margin: 0;
        font-size: 12px; 
      }
    }
  }
}

#footer {
  clear: both;
  color: #699;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 40px;
  .legal {
    margin-top: 5px;
  }
  .info {
    :first-child {
      font-family: "AdelleBasicBold", Georgia, 'Times New Roman', Times, serif;
    }
  }
}

.dashboard {
  @include group;
}

.campaigns {
  @include well;
  text-align: left;
  overflow: hidden;
  padding-bottom: 0;
  li:nth-child(3n-2) {
    clear: left;
  }
  li:nth-child(3n) {
    margin: 0;
  }
  li {
    float: left;
    width: 256px;
    margin-bottom: 20px;
    @include item;
    text-align: left;
    h2 {
      font-size: 18px;
      margin: 0 0 10px 0;
      font-family: "AdelleBasicBold", Georgia, 'Times New Roman', Times, serif;
    }
  }  
}

div.campaign {
  div.body {
    width: 720px;
    margin: 0 auto;
    p {
      text-indent: 1em;
    }
  }
  line-height: 1.4;
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px solid rgba(255,255,255,.25);
}

ul.numbers {
  margin-top: 15px;
  li {
    list-style: decimal;
    margin-bottom: 10px;
    line-height: 1.25em;
  }
}

ul.payment_type {
  margin: 0 0 0 115px;
  li {
    margin: 0 0 10px 0;
  }
}

.cards {
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  strong {
    width: 130px;
    display: inline-block;
    vertical-align: middle;
  }
  .card {
    width: 32px;
    height: 22px;
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: middle;
    background-position: 0 -4px;
    background-repeat: no-repeat;
  }
  .paypal {
    background-image: url('../../images/icons/paypal.png');
  }
  .visa {
    background-image: url('../../images/icons/visa.png');
  }
  .master {
    background-image: url('../../images/icons/master.png');
  }
  .american_express {
    background-image: url('../../images/icons/american_express.png');
  }
  .discover {
    background-image: url('../../images/icons/discover.png');
  }
  .diners_club {
    background-image: url('../../images/icons/diners_club.png');
  }
  
  .disabled {
    opacity: 0.3;
  }
}

.home {
  overflow: hidden;
  line-height: 1.4;
  margin: 0 0 40px 0;
  .text {
    clear: none;
    float: right;
    width: 455px;
  }
  .video {
    float: left;
    width: 455px;
    height: 300px;
  }
}

.legalese {
  padding: 0 0 40px 0;
}

.thank_you {
  text-align: center;
  padding: 0 0 40px 0;
  h1 {
    margin: 0 0 20px 0;
    font-family: "AdelleBasicBold", Georgia, 'Times New Roman', Times, serif;
  }
}

.recipients {
  @include group;
  text-align: center;
  h2 {
    @include message;
    font-size: 18px;
  }
  ul {
    @include well;
    li {
      @include item;
      color: #FFF;
      div.federal {
        @include federal_photo;
      }
      span {
        display: block;
      }
      .name {
        margin: 10px 0;
      }
      .phone {
        font-size: 2em;
        font-family: "AdelleBasicBold", Georgia, 'Times New Roman', Times, serif;
      }
    }
  }
}

/* -----------------------------------------------------------------------------
    Forms
----------------------------------------------------------------------------- */

.help {
  color: #9CC;
  display: inline;
  font-size: 14px;
  line-height: 1.4;
}

fieldset {
  padding: 20px 0 10px 0;
  border-bottom: 1px solid rgba(255,255,255,.25);
  .help {
    float: right;
    width: $form_sidebar;
    margin: 0 0 10px 0;
  }
}

div.text, 
div.string, 
div.password {
  float: left;
  clear: left;
  margin: 0 0 10px 0;
  input {
    width: 400px;
    padding: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
}

input[type="submit"] {
  font-size: 20px;
  margin: 20px 0 0 120px;
}

textarea {
  padding: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

input.placeholder, textarea.placeholder {
  color: #AAAAAA !important;
}

input::-webkit-input-placeholder {
  color: #AAAAAA !important;
}
input:-moz-placeholder {
  color: #AAAAAA !important;
}

label {
  width: 110px;
  text-align: right;
  margin: 0 10px 0 0;
  display: inline-block;
  vertical-align: middle;
}

label.radio {
  display: inline;
  text-align: left;
}

.text {
  textarea {
    width: 400px;
    padding: 5px;
    height: 200px;
    vertical-align: middle;
  }
  label {
    margin: 10px 10px 0 0;
    vertical-align: top;
  }
}

div.select {
  display: inline-block;
  vertical-align: middle;
  label {
    width: auto;
  }
  select {
    margin: 0 10px 0 0;
  }
}

#address_search {
  text-align: center;
  label {
    margin: 0;
    width: auto;
    display: block;
    text-align: center;
  }
  div.string {
    float: none;
    input#address {
      width: 90%;
      color: #233;
      padding: 10px;
      display: block;
      font-size: 36px;
      margin: 20px auto;
      border: 1px solid #FFF;
      font-family: "AdelleBasicBold", Georgia, 'Times New Roman', Times, serif;
      @include border-radius(5px);
    }
  }
  input[type="submit"] {
    margin: 0;
  }
  .error {
    color: #FEE;
    background: #B21;
    padding: 10px;
    margin: 0 0 10px 0;
    @include border-radius(3px);
  }
}

#new_letter {
  padding: 0;
  width: auto;
  background: none;
  margin: 0 auto 40px auto;
  @include border-radius(0);
  @include box-shadow(none);
  .error {
    color: #FEE;
    padding: 10px;
    background: #B21;
    margin: 20px 0 0 0;
    @include border-radius(3px);
    display: block;
  }
  h3.federal {
    margin-bottom: 20px;
  }
  h3.state {
    margin: 20px 0px;
  }
  ul.federal {
    .bioguide {
      @include federal_photo;
      img.mail {
        right: 5px;
        bottom: 2px;
        width: 32px;
        height: 32px;
        display: none;
        position: absolute;
      }
    }
  }
  ul.legislators {
    .bioguide {
      img.selected {
        display: inline;
      }
    }
    .monochrome {
      background-position: -200px 0px;
    }
    .color {
      background-position: 0px 0px;
    }
    .bioguide:hover {
      cursor: pointer;
    }
    img.monochrome {
      margin-left: -200px;
    }
    label:hover {
      color: blue;
      cursor: pointer;
      text-decoration: underline;
    }
  }
  h1 {
    padding: 0;
    border: none;
  }
  fieldset.legislator {
    text-align: center;
  }
  fieldset {
    border: none;
    @include group;
    margin: 20px auto;
    label {
      width: auto;
      display: block;
      text-align: left;
      margin: 0 0 10px 0;
    }
    .legislators {
      @include well;
      li {
        @include item;
        label {
          text-align: center;
          margin: 10px 0 0 0;
        }
      }
      li:last-child {
        margin: 0px;
      }
      li:hover {
        cursor: pointer;
        background: #178;
        label {
          color: #FFF;
          text-decoration: none;
        }
      }
      li.active {
        background: #009CAE;
        label {
          color: #FFF;
        }
      }
    }
  }
  .cost {
    @include message;
  }
  div.text {
    float: none;
    clear: none;
    margin: 0 0 20px 0;
  }
  #letter_body {
    width: 99%;
    height: 300px;
    display: block;
  }
  .text.field_with_errors,
  .string.field_with_errors,
  .password.field_with_errors {
    padding: 10px;
  }
  .error {
    margin: 0;
  }
  div.string, div.password {
    margin: 10px 10px 0 0;
    display: inline-block;
    vertical-align: top;
    float: none;
    clear: none;
    input {
      width: 200px;
      padding: 5px;
      font-size: 16px;
      font-family: Arial, sans-serif;
    }
  }
  #letter_submit {
    margin: 20px 0 0 0;
  }
  #letter_preview {
    margin: 0 0 0 10px;
    display: inline-block;
  }
}

form.campaign {
  label.collection_radio {
    width: auto;
    margin-left: 5px;
  }

  #campaign_type_both {
    margin-left: 120px;
  }
}

#address_search {
  ul {
    @include well;
    text-align: left;
    line-height: 1.4;
    li {
      @include item;
      display: block;
      text-align: left;
      margin: 0 0 20px 0;
    }
  }
  label,
  input {
    width: auto;
    display: inline-block;
    vertical-align: middle;
  }
}

form {
  @include group;
  h1 {
    border-bottom: 1px solid rgba(255,255,255,.25);
    span { 
      color: #9CC;
      width: $form_sidebar;
    }
  }
  input#payment_credit_card_verification_value {
    width: 100px;
  }
  .text.field_with_errors,
  .string.field_with_errors,
  .password.field_with_errors {
    padding-left: 0px;
  }
  div.expiration {
    float: left;
    clear: left;
    margin: 5px 10px 15px 0;
    span {
      display: inline-block;
      width: 110px;
      text-align: right;
      margin: 0 10px 0 0;
      vertical-align: middle;
    }
    label {
      vertical-align: middle;
    }
    .error {
      margin: 0;
    }
  }
  
  img {
    vertical-align: middle;
  }
  .error {
    padding: 5px 0 0 0;
    margin: 0 0 0 120px;
  }
}

.field_with_errors {
  color: #FEE;
  padding: 10px;
  background: #B21;
  @include border-radius(3px);
}

.error {
  font-weight: bold;
  padding: 10px 0 0 5px;
}
