%h1 Terms of Service for Advocacy Groups
.legalese
  #English
    %h2 In Plain English
    %ul.numbers
      %li Dirty Water Development, LLC is the operating company for MailCongress.org.
      %li The Terms of Service may change over time. If you disagree with any of the changes you can opt to remove your data. We will try our best to warn you of any major changes but we make no guarantees.
      %li All sales are final.
      %li We can only guarantee that all letters that are paid for will be printed and put in the mail. All letters are mailed using the United States Postal Service. Once the letters are in the posession of the USPS MailCongress' guarantee ends.
      %li The estimated time of arrival you receive is an estimation only and not a hard date. The US Capitol sends all incoming mail out for inspection and this process can take some time. We do our best to take weekends and federal holidays into account when making the estimation.
      %li In some cases your advocactes will receive a response letter from their congress people. This is at the discretion of each congress person's office.
