%h1 Privacy Policy
.legalese
  %ul.numbers
    %li We promise to *never* sell your data.
    -#%li You can view your data at any time.
    -#%li If you wish, you can have some or all of your data deleted.
    %li Your billing information which includes your billing name, billing address, credit card number, credit card type and credit card expiration date does not get stored to disk. It is only passed via an SSL connection to our payment gateway.
    %li The home address you provide in Step 1, name you provide and the legislators you choose in Step 2 and email you provide in Step 3 are stored. This is for security purposes and notifications.
    -#%li The body of the letter is deleted after the letter is printed.
    %li The data that is brought to us via Advocacy Groups through either the web interface or the API is accessible for consumption by the providing Advocacy Group. This data is limited to the data previously identifed as being stored by MailCongress.org. If you choose to update any of your data this will also be available for consumption by the providing Advocacy Group.
